version: '2.1'

services:
  pbs:
    image: ${IMAGE:-ayufan/proxmox-ve:${TAG:-latest}}
    ports:
      - 8007:8007
    mem_limit: 2G
    volumes:
      - pbs_etc:/etc/proxmox-backup
      - pbs_logs:/var/log/proxmox-backup
      - pbs_lib:/var/lib/proxmox-backup
    tmpfs:
      - /run
    cap_add:
      - SYS_RAWIO # smartctl support
    #devices: # smartctl support
    #  - /dev/sda
    #  - /dev/sdb
    restart: unless-stopped
    stop_signal: SIGHUP

volumes:
  pbs_etc:
  pbs_logs:
  pbs_lib:

